@model TerminZaVozacka.Models.TeorijaPrijava

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeorijaPrijava</h4>
    <hr />
    @using (Html.BeginForm("TeorijaDetails", "Employee"))
    {
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>

        <dd>
            @Html.EditorFor(model => model.IsAccepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.EditorFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.EditorFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicnaKartaId)
        </dt>

        <dd>
           
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uplatnica)
        </dt>

        <dd>
            
        </dd>

    </dl>
    }
</div>

